body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif
}
nav{
    padding: 20px;
    background-color: #a70000;
    margin-bottom: 20px;
}
button{
    background: #a70000;
    border: none;
    text-decoration: none;
    padding: 15px;
    color: #F7F7F7;
    
} button:hover {
    background: #88888879;
}

@font-face {
    font-family: 'Poppins';
    src: url('/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  .card{
    display: inline-block;
    margin: 20px;
  }

  .home{
    margin: 25px;
  }

  .containerPage{
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
   
    -webkit-box-shadow: 0px -1px 12px -3px rgba(167,0,0,1);
   -moz-box-shadow: 0px -1px 12px -3px rgba(167,0,0,1);
    box-shadow: 0px -1px 12px -3px rgba(167,0,0,1);  
  }

